body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height: 5px;
    background: #c19639    ;
}
/* style the slider */
.slider {
    width: 30%;
    height: 25px;
    background: #838282;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    accent-color: #7e6329;
    transition: opacity .2s;
}
